# Windows image file caches
Thumbs.db
ehthumbs.db


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.info
*.class
out/production/PowerArmorMod/assets/powerarmormod/textures/models/plasmabolt.png
out/production/PowerArmorMod/CoFH_at.cfg
out/production/PowerArmorMod/assets/powerarmormod/textures/models/modelplasmacaster.png
out/production/PowerArmorMod/assets/powerarmormod/textures/models/modelplasmacasterunique.png
out/
eclipse/
.gradle/
*.iml
*.ipr
*.iws
gradle/
gradle
gradlew.bat
*.gitignore
build.gradle
gradlew